.tableHead {
  background-color: black;
  color: #fff;
}

.tableTh {
  text-align: center;
}

.tableTd {
  text-align: center;
  border: 1px solid black;
}
.table {
  border: 2px solid black;
  width: 360px;
  border-collapse: collapse;
}

.even {
  background-color: #9d9d9d;
  border: 2px solid black;
}

.odd {
  border: 1px solid black;
}

.tableWrapper {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
